@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  text-align: center;
  background-color: #376E6F;
  animation-name: example;
  animation-duration: 10s;
}

@keyframes example {
  0%   {background-color: #376E6F;}
  50%  {background-color: #00887A;}
  100% {background-color: #376E6F;}
}


.gray {
  color: gray
}

.bold {
  font-weight: bold
}

.bold-gray {
  color: gray;
  font-weight: bold;
}

nav {
  height: 90px;
  padding: 30px 25px;
  left: 0px;
  top: 0px;
  background-color: #da7b93;
  display: flex;
  align-items: center;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  font-family: 'Lobster', cursive;
}

.nav--logo {
  max-width: 100px
}

.nav--title {
  color: #376E6F;
  font-size: 40px;
  -webkit-text-stroke: 0.000005px black;
}

.nav--tagline {
  font-family: "Inter", sans-serif;
  right: 100;
}

.form {
  display: grid;
  text-align: center;
  padding: 20px;
  height: 50px;
}
.form--input {
  font-family: "Inter", sans-serif;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ed3390;
  text-indent: 5px;
}

.form--button {
  font-family: "Inter", sans-serif;
  text-align: center;
  grid-column: 2 / -1;
  border-radius: 5px;
  color: white;
  background: #da7b93;
}

.meal-card {
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;         
  display: flex;          
  flex-direction: column; 
  position: relative;
}

.meal--list {
  padding: 30px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 20px;
  overflow-y: auto;
}

.meal--title {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 20px;
}

.meal-card--image {
  height: 130px;
  width: 175px;
  border-radius: 9px;
}

.meal-card--info {
  display: flex;
  align-items: center;
}

.meal-card--like-thumb {
  width: 10px;
}

.input--header {
  padding: 30px;
  font-family: 'Lobster', cursive;
  text-align: center;
  color: #DA7B93;
  
}

.instructions--header {
  padding: 30px;
  font-family: 'Lobster', cursive;
  text-align: center;
  color: #DA7B93;
}

.recipe--instructions {
  padding: 30px;
  text-align: center;
  color: #DA7B93;
}

.home--link {
  text-align: right;
}

.about--link {

  text-align: right;
}

.contact--link {
  text-align: right;
}