@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600;700&display=swap');
/* give everything a min-width */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  background-image: url('../public/tile.png');
}

/* .gray {
  color: gray
} */

/* .bold {
  font-weight: bold
} */

.bold-gray, .instructions-title {

  color: rgb(99, 99, 99);
  font-weight: bold;
}

nav {
  height: 100px;
  /* padding: 30px 25px; */
  left: 0px;
  top: 0px;
  background-color: #950740;
  background-image: linear-gradient(#950740, #c3073f);
  display: flex;
  align-items: center;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav--logo {
  max-width: 100px
}

.nav--title {
  color: rgba(255, 255, 255, 0.802);
  font-size: 40px;
  -webkit-text-stroke: 0.1px black;
  font-family: 'Lobster', cursive;
}


.form {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
}

.form--input {
  font-family: "Inter", sans-serif;
  border-radius: 5px;
  border: 1px solid rgb(128, 28, 28);
  text-indent: 5px;
  width: 200px;
  color: #950740;
}

.form--button {
  font-family: "Inter", sans-serif;
  grid-column: 2 / -1;
  border-radius: 5px;
  margin: 10px;
  border-style: solid;
  border-color: #730071;
  color: white;
  background-color: #950740;
}

.meal-card {
  width: 250px;
  font-size: 12px;
  flex: 0 0 auto;         
  display: flex;          
  flex-direction: column; 
  position: relative;
}

.meal--list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 20px;
  overflow-y: auto;
  padding-bottom: 50px;
}

.meal--title {
  color: #950740;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.meal-card--image {
  width: 225px;
  height: auto;
  border-radius: 9px;
}

.meal-card--info {
  display: flex;
  align-items: center;
  color: #950740;
}

.meal-card--like-thumb {
  width: 10px;
  margin: 5px;
}

.input--header {
  font-family: 'Lobster', cursive;
  color: #950740;
}

.search-container {
  /* margin-top: 10px; */
  display: flex;
  padding: 30px;
  color: #DA7B93;
}

.meals-container {
  margin-top: 10px;
  display: flex;
  padding: 30px;
  font-family: 'Lobster', cursive;
  color: #DA7B93;
}

.recipe--instructions {
  border: brown;
  border-style: solid;
  border-width: 20px;
  background-color: burlywood;
  padding: 30px;
  font-family: 'Edu SA Beginner', cursive;
  font-size: 14px;
  color: #545154;
}

.logo-and-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-container {
  padding-left: 10px;
  padding-right: 20px;
  display: flex;
  height: 100%;
  width: 100vw;
  flex-direction: row;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  -webkit-text-stroke: 0.1px black;
}

.home--link, .about--link, .contact--link {
  font-size: 20px;
  text-align: right;
  margin: 16px;
  color: rgba(255, 255, 255, 0.802);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
  
  /* padding: 5px; */
}

/* .about--link {
  font-size: 25px;
  text-align: right;
}

.contact--link {
  font-size: 25px;
  text-align: right;
} */

.app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.ingredient-info {
  font-family: 'Edu SA Beginner', cursive;
  font-size: 14px;
}

.used-ingredient--tile {
  background-color: white;
  color: green;
  /* color: #950740; */
  padding: 5px 5px;
  border-radius: 2px;
  border-color: brown;
  font-weight: bold;
}

.missed-ingredient--tile {
  background-color: white;
  color: red;
  padding: 5px 5px;
  border-radius: 2px;
  border-color: brown;
  border-radius: 1px;
  font-weight: bold;
}

.used-ingredients {
  display: flex;
  flex-direction: column;
  justify-content: auto ; 
  align-items: flex-start;
  
}

.missed-ingredients {
  display: flex;
  flex-direction: column;
  justify-content: auto ; 
  align-items:flex-start;
}

.missed-ingredient--plus {
  color: gray
}

.ingredient--list {
  display: flex;
}