@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600;700&display=swap');
/* give everything a min-width */

* {
  box-sizing: border-box;
}

body {
  border: 1px solid #000;
  min-height: 100vh;
  min-width: 100vw;
	margin: 0;
  display: flex;
  flex-wrap: wrap;
  background-attachment: fixed;
  /* flex-direction: column; */
  font-family: 'Inter', sans-serif;
  /* background-image: url('../public/tile.png'); */
  background-color: ghostwhite;
  background-size: cover;
  /* background-position: center center; */

}

.gray {
  color: gray
}

.bold {
  font-weight: bold
}

.bold-gray {
  color: gray;
  font-weight: bold;
}

.main-body-container {
  display: flex;
  flex-direction: column;
}

/* ----------nav-------------------*/

.nav-container {
  padding-left: 10px;
  padding-right: 20px;
  /* background-color: grey; */
  display: flex;
  height: 100%;
  width: 100vw;
  flex-direction: row;
  /* align-items: start; */
  justify-content: space-between;
}

.nav-links {
  /* background-color: white; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15%;
  align-items: end;
}

nav {
  height: 90px;
  width: 100vw;
  /* padding: 30px 25px; */
  left: 0px;
  top: 0px;
  background-color: #da7b93;
  /* background-image: linear-gradient(#950740, #c3073f); */
  display: flex;
  align-items: center;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  font-family: 'Lobster', cursive;
  opacity: 0.9;
}

.nav--logo {
  max-width: 120px
}

.nav--title {
  color: #376E6F;
  font-size: 40px;
  -webkit-text-stroke: 0.000005px black;
}

.nav--tagline {
  font-family: "Inter", sans-serif;
  right: 100;
  /* -webkit-text-stroke: 0.1px black; */
  font-family: 'Lobster', cursive;
}

.nav--username {
  font-family: "Inter";
  text-align: right;
  color: rgba(255, 255, 255, 0.802);
}

/* --------------instructions--------------- */

.instructions--tile {
  display: flex;
  align-items: flex-start;
}

.link--ref {
  color:#730071
}

.form {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  /* background-color: grey; */
  /* display: grid; */
  /* height: 50px; */
}
.form--input {
  /* display: flex; */
  /* flex-align:  */
  font-family: "Inter", sans-serif;
  border-radius: 5px;
  border: 1px solid rgb(128, 28, 28);
  text-indent: 5px;
  width: 200px;
}

.form--button {
  
  font-family: "Inter", sans-serif;
  grid-column: 2 / -1;
  border-radius: 5px;
  margin: 10px;
  /* border-style: solid; */
  border-color: #730071;
  color: white;
  background: #da7b93;
  background-color: #730071;
}

/*-------------- fridge --------------*/

.fridge--container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  width: 40vw;
  background-color: grey;
  height: 70vw;
}

.fridge--contents {
  max-width: 95%;
  height: 75%;
  width: 700px;
  background-color: white;
  /* background-image: url('../public/fridge-interior.png'); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 5px;
}

.fridge--item-tile {
  display: inline-block;
  background-color: #f6f6f6;
  color: black;
  padding: 5px 5px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1.5px;
  border-color: rgba(111,111,111,0);
  font-weight: bold;
}

.what-for-dinner-button {
  
  width: 50%;
  font-family: "Inter", sans-serif;
  grid-column: 2 / -1;
  border-radius: 5px;
  margin: 10px;
  /* border-style: solid; */
  border-color: #730071;
  color: white;
  background: #da7b93;
  background-color: #730071;
}

/*-------------- meal tiles --------------*/


.meals-container {
  /* margin-top: 10px; */
  max-width: 60vw;
  overflow: scroll;
  display: flex;
  padding: 30px;
  font-family: 'Lobster', cursive;
  color:black;
}

/* meals-container contains meal-cards */

.meal-card {
  width: 250px;
  margin: 30px;
  font-size: 12px;
  flex: 0 0 auto;         
  display: flex;          
  flex-direction: column; 
  align-content: flex-start;
  flex-wrap: nowrap;
  /* position: relative; */
  font-family: 'Inter', 'Arial Narrow', Arial, sans-serif;
}

/* each meal-card contains meal-card--image and ingredient-info*/

.meal-card--image {
  width: 225px;
  height: auto;
  border-radius: 9px;
  
}

.ingredient-info {
  margin-left: 10px;
  max-width: 200px;
}

/* ingredient-info contains used-ingredient and missed-ingredient divs*/

.badge {
  margin-top: 50px;
}

.meal--badge {
  background-color: #da7b93;
  width:auto;
  color: #f6f6f6;
  border-radius: 4px;
  border-style: solid;
  border-width: 1.5px;
  padding: 5px 5px;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 5px;
}

/*meal-badge shows info like gluten-free etc*/

.meal--ingredient-count {
  margin-top: -2px;
  margin-left: 10px;
  font-size: 15px;
}

.meal-card--likes-count {
  margin-top: -2px;
  font-size: 15px;
  margin-right: 15px;
}

.meal--list {
  /* padding: 30px; */
  width: 90vw;
  background-color: darkgray;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  overflow-y: auto;
}

.meal--title {
  display: flex;
  height: 100px;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
}

.meal-card--info {
  display: flex;
  align-items: center;
}

.meal-card--like-thumb {
  width: 10px;
  margin: 5px;
}

.input--header {
  /* padding: 30px; */
  font-family: 'Lobster', cursive;
  color: #DA7B93;
}

.search-container {
  width: 100%;

}

/* delete me, I mess things up */
.search--container {
  /* margin-top: 10px; */
  width: 100vw;
  display: flex;
  padding: 30px;
  font-family: 'Lobster', cursive;
  color: #DA7B93;
  z-index: 3;
}

.recipe--instructions {
  /* padding: 30px; */
  max-width: 750px;
  margin-left: 6px;
  margin-right: 5px;
  margin-top: 2px;
  /* border-style: solid; */
  /* border-width: 10px; */
  border-radius: 2px;
  background-color: white;
  padding: 30px;
  font-family: 'Edu SA Beginner', cursive;
  font-size: 18px;
}

.recipe--measures {
  max-width: 500px;
  margin-left: 5px;
  margin-top: 2px;
  /* border-style: solid; */
  /* border-width: 10px; */
  border-radius: 2px;
  background-color: white;
  padding: 30px;
  font-family: 'Edu SA Beginner', cursive;
  font-size: 14px;
}

.logo-and-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.home--link, .about--link, .contact--link {
  font-size: 20px;
  text-align: right;
  margin: 10px;
  /* padding: 5px; */
}

/* .about--link {
  font-size: 25px;
  text-align: right;
}
.contact--link {
  font-size: 25px;
  text-align: right;
} */

.app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.home--link, .about--link, .contact--link {
  font-size: 20px;
  text-align: right;
  margin: 16px;
  color: rgba(255, 255, 255, 0.802);
  font-family: "Inter";
  font-weight: bold;
}

.used-ingredient--tile {
  display: inline-block;
  background-color: white;
  color: green;
  padding: 5px 5px;
  border-radius: 2px;
  border-color: brown;
  font-weight: bold;
}

.missed-ingredient--tile {
  background-color: white;
  color: red;
  padding: 5px 5px;
  border-radius: 2px;
  border-color: brown;
  border-radius: 1px;
  font-weight: bold;
}

.used-ingredients {
  display: flex;
  flex-direction: column;
  justify-content: auto ; 
  align-items: flex-start;
  
}

.missed-ingredients {
  display: flex;
  flex-direction: column;
  justify-content: auto ; 
  align-items:flex-start;
  flex-direction: column;
  justify-content: auto ; 
  align-items: flex-start;
  padding-bottom: 10px;
  border-radius: 1px;
  padding-bottom: 15px;
}

.missed-ingredient--plus {
  color: gray
}

.ingredient--list {
  display: flex;
}

.signup-form {
  margin-left: 25;
}

.login-container {
  /* background-color: white; */
  display: flex;
  justify-content: center;
  margin-left: 20%; 
  padding-top: 65px;
}

.login-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login-field {
  background-color: grey;
}

.dropDownSignUp-container {
  background-color: grey;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

/*/ --------- dropdowns-container -------------/*/

.main-drop-down-container {
  margin-top: 25px;;
  display: flex;
  /* background-color: grey; */
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10px;
  z-index: 1;
  flex-wrap: nowrap;
  /* min-width: 30vw; */
  min-height: 90px;
}



/*/ --------- drop-down-sign-up -------------/*/

.navbar-main-drop-down-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: sans-serif;
  margin-top: 10px;
  height: 200px;
  width: 30%;
  /* background-color: cyan; */
  flex-shrink: 0;
  /* overflow: hidden; */
  /* z-index: 2;
  position: relative; */
}

.main-drop-down-container {

  display: flex;
  font-family: sans-serif;
  width: 30%;
  /* background-color: grey; */
  height: 5vh;
  z-index: 2;
  position: relative;
;

}

.signup-dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: yellow; */
  max-width: 200px;
  min-width: 200px;
}

.drop-down-container {
    display: flex;
    width: 300px;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    /* background-color: white; */
  }
  

.drop-down-header {
  display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15); */
  font-weight: 500;
  font-size: 1.3rem;
  color: #3faffa;
  /* background: rgb(150, 202, 192); */
  
}

.drop-down-list-container {
  margin-top: 0px;
  display: flex;
  width: 100%;
  /* background-color: cyan; */
  align-items: flex-start;
  height: 100px;
  box-sizing: border-box;
  color: #3faffa;
  font-size: 1.3rem;
  font-weight: 500;
  z-index: 2;
}

.drop-down-list {
  display: flex;
  width: 100%;
  margin-top: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-color: white;
}
  
.drop-down-list-item {
  list-style: none;
  margin: 5px;
  width: 95%;
  font-family: "Inter", sans-serif;
  border-radius: 5px;
  border: 1px solid rgb(128, 28, 28);
  text-indent: 5px;
}

.fields-container {
  display: flex;
  padding-top: 10px;
  /* min-width: 30%; */
  flex-direction: column;
  /* background-color: white; */
  align-items: center;
}

.sign-up-button {
  
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
  justify-content: center;

}

/*/ --------- drop-down-login -------------/*/

.login-dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  min-width: 200px;
  /* background-color: #730071; */
}
 
/* ----------- footer -----------------------*/

.footer {
  display: flex;
  justify-content: end;
  width: 100vw;
  background-color: rgba(218,123,147,0.5);
  position: fixed;
  bottom: 0;
  height: 35px;
}

.footer-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* background-color: white; */
  width: 30vw;

}

.footer-links {
  display: flex;
  padding-top: 7px;
}
